<table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="30" colspan="4" align="center">
                <img src="[LOGO]">
            </td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: center; font-style: italic; font-weight: bold;"><h2><strong>PROCURAÇÃO
                PARA LIBERAÇÃO E REINTEGRAÇÃO DE VEÍCUO APREENDIDO</strong></h2></td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="font-weight: bold;"><h2><strong>OUTORGANTE</strong></h2></td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: justify; line-height: 2; font-size: 20px;"><b>AISEV ASSESSORIA EM
                IDENTIFICACAO E VISTORIAS LTDA</b>, com sede e foro na rua Jose Tomasi, 511, SB 05 bairro Santa Felicidade,
                Curitiba, Estado do Paraná, inscrita no&nbsp;<b>CNPJ sob nº. 28.362.272/0001-50</b>, neste ato representada
                por&nbsp;<b>DEBORA CORREA</b>, portador do&nbsp;<b>CPF sob nº. 003.750.319-79</b>, e&nbsp;<b>RG sob nº
                    305.494.9&nbsp; (SSP/SC)</b>, seu representante legal que a esta subrescreve, nomeia e constitui o seu
                procurador;
            </td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="font-weight: bold;"><h2><strong>OUTORGADO</strong></h2></td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: justify; line-height: 2; font-size: 20px;"><b>[OUTORGADO]</b>,
                portador do&nbsp;<b>CPF sob nº. [CPF_OUTORGADO]</b>, com endereço profissional sito a [END_OUTORGADO];
            </td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="font-weight: bold;"><h2><strong>PODERES</strong></h2></td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: justify; line-height: 2; font-size: 20px;">Por este instrumento
                de procuração, o&nbsp;<b>OUTORGANTE</b>, confere ao&nbsp;<b>OUTORGADO</b>, separadamente, os poderes
                necessários ára representa-lo perante às&nbsp;<b>AUTORIDADES FEDERAIS, ESTADUAIS E MUNICIPAIS</b>, podendo
                assinar os documentos necessários, visando a recuperação, liberação e remoção do
                veículo&nbsp;<b>[MODELO]</b>, placa&nbsp;<b>[PLACA]</b>, chassi&nbsp;<b>[CHASSI]</b>, tudo fazendo para o
                bom e fiel cumprimento do presente. A presente procuração não dá poderes ao&nbsp;<b>OUTORGADO</b>&nbsp;quanto
                a venda, trasnferência de posse e qualquer outra com o veículo recuperado e ou devolvido.
            </td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: center; font-size: 20px;">[DATA_EMISSAO].</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4" style="text-align: center;">
                <h3>AISEV ASSESSORIA EM IDENTIFICACAO E VISTORIAS LTDA</h3>
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="text-align: center; font-size: 18px;">
                <b>DEBORA CORREA</b>
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="text-align: center; font-size: 18px;">
                RG Nº. <b>3054949 (SSP/SC)</b>
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="text-align: center; font-size: 18px;">
                CPF Nº <b>003.750.319-79</b>
            </td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td height="10" width="50" style="text-align: left;">
                <img src="[QRCODE]">
            </td>
            <td height="10" width="900" style="font-size: 11px;text-align: left;">
                A autenticidade do documento pode ser conferida no site <b>https://www.aisev.com.br/validador</b>,
                informando o código do documento <b>[CODDOC]</b> e a senha do documento <b>[SENHADOC]</b>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td height="10" colspan="4">
                <hr style="height: 2px; background-color: rgb(255, 0, 0); color: rgb(255, 0, 0); width: 990.889px;">
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="font-size: 12px; text-align: center;">Rua Jose Tomasi, nº 511 SB 05 - Bairro
                Santa Felicidade - Cep 82015-630 - Curitiba(PR)
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="font-size: 12px; text-align: center;">Telefone/Fax - (41) 3010-2355 Celular -
                (41) 3010-4801
            </td>
        </tr>
        <tr>
            <td height="10" colspan="4" style="font-size: 12px; text-align: center;">aisev@aisev.com.br</td>
        </tr>
    </tfoot>
</table>
